In [1]:
#lets import the dataset
import pandas as pd
train=pd.read_csv("https://raw.githubusercontent.com/ind-kum/Datasets/master/Bigmart-Train.csv")
test=pd.read_csv("https://raw.githubusercontent.com/ind-kum/Datasets/master/Bigmart-Test.csv")
train["source"]="train"
test["source"]="test"
data=pd.concat([train,test],ignore_index=True)
data

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,train
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,NaN,Grocery Store,train
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,Regular,FDB58,141.3154,NaN,Snack Foods,0.013496,10.50,1997,OUT046,Tier 1,Small,Supermarket Type1,test
14200,Regular,FDD47,169.1448,NaN,Starchy Foods,0.142991,7.60,2009,OUT018,Tier 3,Medium,Supermarket Type2,test
14201,Low Fat,NCO17,118.7440,NaN,Health and Hygiene,0.073529,10.00,2002,OUT045,Tier 2,NaN,Supermarket Type1,test
14202,Regular,FDJ26,214.6218,NaN,Canned,0.000000,15.30,2007,OUT017,Tier 2,NaN,Supermarket Type1,test
14203,Regular,FDU37,79.7960,NaN,Canned,0.104720,9.50,2002,OUT045,Tier 2,NaN,Supermarket Type1,test

In [2]:
#Lets chcek the null values
data.isnull().sum()
#There are null values which must be imputed

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
source                          0
dtype: int64

In [3]:
#lets chcek the datatypes of each column
data.dtypes

Item_Fat_Content              object
Item_Identifier               object
Item_MRP                     float64
Item_Outlet_Sales            float64
Item_Type                     object
Item_Visibility              float64
Item_Weight                  float64
Outlet_Establishment_Year      int64
Outlet_Identifier             object
Outlet_Location_Type          object
Outlet_Size                   object
Outlet_Type                   object
source                        object
dtype: object

In [4]:
#lets observe the correlation matrix
data.corr()
#All the variables have very less correlation between each other
#Only exception is Item_MRP and Item_Outlet_Sales which shows significant correlation of 0.56

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year
Item_MRP,1.000000,0.567574,-0.006351,0.036236,0.000141
Item_Outlet_Sales,0.567574,1.000000,-0.128625,0.014123,-0.049135
Item_Visibility,-0.006351,-0.128625,1.000000,-0.015901,-0.083678
Item_Weight,0.036236,0.014123,-0.015901,1.000000,0.000645
Outlet_Establishment_Year,0.000141,-0.049135,-0.083678,0.000645,1.000000

In [5]:
#Lets chcekk the number of distict values in for column of object datatype 
for col in data.columns:
    if data[col].dtype=="object":
        print("column name is: {} and number of distict values: {}".format(col,len(data[col].value_counts())))
        print()
#Based on below output we see there are 1559 values in item_identifier,we can drop as it is not so important variable
#Also if we keep it will increase the columns by 1559 when we will use one hot encoding
#Similary outlet identifier also can be removed from the dataset

column name is: Item_Fat_Content and number of distict values: 5

column name is: Item_Identifier and number of distict values: 1559

column name is: Item_Type and number of distict values: 16

column name is: Outlet_Identifier and number of distict values: 10

column name is: Outlet_Location_Type and number of distict values: 3

column name is: Outlet_Size and number of distict values: 3

column name is: Outlet_Type and number of distict values: 4

column name is: source and number of distict values: 2

In [6]:
#Lets chcek the value counts
for col in data.columns:
    if data[col].dtype=="object":
        print(data[col].value_counts())
        print()
#Here we see there are basically two types of fat low fat and regular so we will LF and low fat to Low Fat and reg to Regular

Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

FDC57    10
FDK09    10
FDR23    10
FDH04    10
FDT13    10
         ..
FDM50     7
FDL50     7
FDX49     7
DRN11     7
FDS22     7
Name: Item_Identifier, Length: 1559, dtype: int64

Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: Item_Type, dtype: int64

OUT027    1559
OUT013    1553
OUT049    1550
OUT035    1550
OUT046    1550
OUT045    1548
OUT018    1546
OUT017    1543
OUT010     925
OUT019     880
Name: Outlet_Identifier, dtype: int64

Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: Outlet_Location_Type, dtype: int64

Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

train    8523
test     5681
Name: source, dtype: int64

In [7]:
#replacing low fat and LF with Low Fat
#replacing reg with Regular
data["Item_Fat_Content"].replace("low fat","Low Fat",inplace=True)
data["Item_Fat_Content"].replace("LF","Low Fat",inplace=True)
data["Item_Fat_Content"].replace("reg","Regular",inplace=True)

In [8]:
#lets chcek the value counts for "Item_Fat_Content" again
data["Item_Fat_Content"].value_counts()

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [9]:
#lets impute the item weight by mean of item weight groupped by item identifier
item_weight_means=data.groupby(["Item_Identifier"]).agg({"Item_Weight":"mean"})
item_weight_means
for index in item_weight_means.index:
    null_condition=data.loc[data["Item_Identifier"]==index,["Item_Weight"]].isnull()
    for index_2 in null_condition.index:
        if null_condition.loc[index_2][0]==True:
            data.loc[index_2,["Item_Weight"]]=item_weight_means.loc[index][0]

In [10]:
#Lets chcek the value counts of outlet sixe
data["Outlet_Size"].value_counts()

Medium    4655
Small     3980
High      1553
Name: Outlet_Size, dtype: int64

In [11]:
#Lets impute the Outlet_Size by mode of Outlet_Size groupped Outlet_Type
outlet_size_modes=data.groupby(["Outlet_Type"]).agg({"Outlet_Size":lambda x: x.value_counts().index[0]})
outlet_size_modes
for index in outlet_size_modes.index:
    null_condition=data.loc[data["Outlet_Type"]==index,["Outlet_Size"]].isnull()
    for index_2 in null_condition.index:
        if null_condition.loc[index_2][0]==True:
            data.loc[index_2,["Outlet_Size"]]=outlet_size_modes.loc[index][0]

In [12]:
#Lets check the null values again
data.isnull().sum()
#here we are obseving that after imputation now Item_Weight and Outlet_Size has no null values

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                     0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                     0
Outlet_Type                     0
source                          0
dtype: int64

In [13]:
#Displaying the updated dataset
data

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,train
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,Small,Grocery Store,train
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,Regular,FDB58,141.3154,NaN,Snack Foods,0.013496,10.50,1997,OUT046,Tier 1,Small,Supermarket Type1,test
14200,Regular,FDD47,169.1448,NaN,Starchy Foods,0.142991,7.60,2009,OUT018,Tier 3,Medium,Supermarket Type2,test
14201,Low Fat,NCO17,118.7440,NaN,Health and Hygiene,0.073529,10.00,2002,OUT045,Tier 2,Small,Supermarket Type1,test
14202,Regular,FDJ26,214.6218,NaN,Canned,0.000000,15.30,2007,OUT017,Tier 2,Small,Supermarket Type1,test
14203,Regular,FDU37,79.7960,NaN,Canned,0.104720,9.50,2002,OUT045,Tier 2,Small,Supermarket Type1,test

In [14]:
#Also one observation about the item visibility is that it can't be 0 so that also needs to be replaced
#We can replace it by mean of item visibilty gropped by item identifier
item_visibility_means=data.groupby(["Item_Identifier"]).agg({"Item_Visibility":"mean"})
item_visibility_means
for index in item_visibility_means.index:
    zero_visibility_rows=data.loc[(data["Item_Identifier"]==index)&(data["Item_Visibility"]==0)]
    if len(zero_visibility_rows.index)>0:
        for index_2 in zero_visibility_rows.index:
            data.loc[index_2,["Item_Visibility"]]=item_visibility_means.loc[index][0]

In [15]:
#Lets chcek the updated dataset
data

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,train
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.017834,19.20,1998,OUT010,Tier 3,Small,Grocery Store,train
4,Low Fat,NCD19,53.8614,994.7052,Household,0.009780,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,Regular,FDB58,141.3154,NaN,Snack Foods,0.013496,10.50,1997,OUT046,Tier 1,Small,Supermarket Type1,test
14200,Regular,FDD47,169.1448,NaN,Starchy Foods,0.142991,7.60,2009,OUT018,Tier 3,Medium,Supermarket Type2,test
14201,Low Fat,NCO17,118.7440,NaN,Health and Hygiene,0.073529,10.00,2002,OUT045,Tier 2,Small,Supermarket Type1,test
14202,Regular,FDJ26,214.6218,NaN,Canned,0.088380,15.30,2007,OUT017,Tier 2,Small,Supermarket Type1,test
14203,Regular,FDU37,79.7960,NaN,Canned,0.104720,9.50,2002,OUT045,Tier 2,Small,Supermarket Type1,test

In [16]:
#Now we have dataset which have non numeric columns and it needs to be converted to numeric
#This is done so that ML model is able to process it
#we will use one hot encoding
df_bigmart=pd.get_dummies(data,columns=["Item_Fat_Content","Item_Type","Outlet_Location_Type","Outlet_Size","Outlet_Type"])

In [17]:
#Displaying the dataset after one hot encodng
df_bigmart

,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,source,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,...,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDA15,249.8092,3735.1380,0.016047,9.30,1999,OUT049,train,1,0,...,1,0,0,0,1,0,0,1,0,0
1,DRC01,48.2692,443.4228,0.019278,5.92,2009,OUT018,train,0,1,...,0,0,1,0,1,0,0,0,1,0
2,FDN15,141.6180,2097.2700,0.016760,17.50,1999,OUT049,train,1,0,...,1,0,0,0,1,0,0,1,0,0
3,FDX07,182.0950,732.3800,0.017834,19.20,1998,OUT010,train,0,1,...,0,0,1,0,0,1,1,0,0,0
4,NCD19,53.8614,994.7052,0.009780,8.93,1987,OUT013,train,1,0,...,0,0,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,141.3154,NaN,0.013496,10.50,1997,OUT046,test,0,1,...,1,0,0,0,0,1,0,1,0,0
14200,FDD47,169.1448,NaN,0.142991,7.60,2009,OUT018,test,0,1,...,0,0,1,0,1,0,0,0,1,0
14201,NCO17,118.7440,NaN,0.073529,10.00,2002,OUT045,test,1,0,...,0,1,0,0,0,1,0,1,0,0
14202,FDJ26,214.6218,NaN,0.088380,15.30,2007,OUT017,test,0,1,...,0,1,0,0,0,1,0,1,0,0
14203,FDU37,79.7960,NaN,0.104720,9.50,2002,OUT045,test,0,1,...,0,1,0,0,0,1,0,1,0,0

In [18]:
#Lets store item identifier ,outlet identifier and source
df_item_outlet=df_bigmart[["Item_Identifier","Outlet_Identifier","source"]]

In [19]:
#Also we can covert outlet establishment year to howold is outlet
df_bigmart["Outlet_Establishment_Year"]=2013-df_bigmart["Outlet_Establishment_Year"]

In [20]:
#lets make a column "Outlet__Years_of_operation" and drop "Outlet_Establishment_Year"
df_bigmart["Outlet__Years_of_operation"]=df_bigmart["Outlet_Establishment_Year"]
df_bigmart.drop(columns=["Outlet_Establishment_Year"],inplace=True)

In [21]:
#lets chcek the skewness
cols_to_be_checked=["Item_MRP","Item_Visibility","Item_Weight","Outlet__Years_of_operation"]
for col in df_bigmart.skew().index:
    if col in cols_to_be_checked:
        print("Skewness of column {} is: {}".format(col,df_bigmart.skew().loc[col]))

Skewness of column Item_MRP is: 0.13072836040225863
Skewness of column Item_Visibility is: 1.2574052519888312
Skewness of column Item_Weight is: 0.10041690891741958
Skewness of column Outlet__Years_of_operation is: 0.3964651900863859

In [22]:
#Lets treat the skewness
import numpy as np
df_bigmart.skew()
for col in df_bigmart.skew().index:
    if col in cols_to_be_checked:
        if df_bigmart.skew().loc[col]>0.5:
            df_bigmart[col]=np.sqrt(df_bigmart[col])
        if df_bigmart.skew().loc[col]<-0.5:
            df_bigmart[col]=np.cbrt(df_bigmart[col])

In [23]:
#Lets again chcek the skewness
for col in df_bigmart.skew().index:
    if col in cols_to_be_checked:
        print("Skewness of column {} is: {}".format(col,df_bigmart.skew().loc[col]))

Skewness of column Item_MRP is: 0.13072836040225863
Skewness of column Item_Visibility is: 0.41413332304805806
Skewness of column Item_Weight is: 0.10041690891741958
Skewness of column Outlet__Years_of_operation is: 0.3964651900863859

In [24]:
#lets drop ["Item_Identifier","Outlet_Identifier","source"]
df_bigmart.drop(columns=["Item_Identifier","Outlet_Identifier"],inplace=True)

In [25]:
#Lets seprate the train and test
df_train=df_bigmart.loc[df_bigmart["source"]=="train"]
df_test=df_bigmart.loc[df_bigmart["source"]=="test"]
df_test.reset_index(drop=True,inplace=True)
print(df_train.columns)
print(df_test.columns)

Index(['Item_MRP', 'Item_Outlet_Sales', 'Item_Visibility', 'Item_Weight',
       'source', 'Item_Fat_Content_Low Fat', 'Item_Fat_Content_Regular',
       'Item_Type_Baking Goods', 'Item_Type_Breads', 'Item_Type_Breakfast',
       'Item_Type_Canned', 'Item_Type_Dairy', 'Item_Type_Frozen Foods',
       'Item_Type_Fruits and Vegetables', 'Item_Type_Hard Drinks',
       'Item_Type_Health and Hygiene', 'Item_Type_Household', 'Item_Type_Meat',
       'Item_Type_Others', 'Item_Type_Seafood', 'Item_Type_Snack Foods',
       'Item_Type_Soft Drinks', 'Item_Type_Starchy Foods',
       'Outlet_Location_Type_Tier 1', 'Outlet_Location_Type_Tier 2',
       'Outlet_Location_Type_Tier 3', 'Outlet_Size_High', 'Outlet_Size_Medium',
       'Outlet_Size_Small', 'Outlet_Type_Grocery Store',
       'Outlet_Type_Supermarket Type1', 'Outlet_Type_Supermarket Type2',
       'Outlet_Type_Supermarket Type3', 'Outlet__Years_of_operation'],
      dtype='object')
Index(['Item_MRP', 'Item_Outlet_Sales', 'Item_Visibility', 'Item_Weight',
       'source', 'Item_Fat_Content_Low Fat', 'Item_Fat_Content_Regular',
       'Item_Type_Baking Goods', 'Item_Type_Breads', 'Item_Type_Breakfast',
       'Item_Type_Canned', 'Item_Type_Dairy', 'Item_Type_Frozen Foods',
       'Item_Type_Fruits and Vegetables', 'Item_Type_Hard Drinks',
       'Item_Type_Health and Hygiene', 'Item_Type_Household', 'Item_Type_Meat',
       'Item_Type_Others', 'Item_Type_Seafood', 'Item_Type_Snack Foods',
       'Item_Type_Soft Drinks', 'Item_Type_Starchy Foods',
       'Outlet_Location_Type_Tier 1', 'Outlet_Location_Type_Tier 2',
       'Outlet_Location_Type_Tier 3', 'Outlet_Size_High', 'Outlet_Size_Medium',
       'Outlet_Size_Small', 'Outlet_Type_Grocery Store',
       'Outlet_Type_Supermarket Type1', 'Outlet_Type_Supermarket Type2',
       'Outlet_Type_Supermarket Type3', 'Outlet__Years_of_operation'],
      dtype='object')

In [26]:
#Lets drop the Item_Outlet_Sales from test dataset as that is the o/p variable that needs to be predicted
df_test.drop(columns=["Item_Outlet_Sales"],inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [27]:
#lets drop source column from df_train and df_test
df_train.drop(columns=["source"],inplace=True)
df_test.drop(columns=["source"],inplace=True)

In [28]:
#seprating input and output from df_train
df_x=df_train.drop(columns=["Item_Outlet_Sales"])
y=df_train[["Item_Outlet_Sales"]]

In [29]:
#Lets bring every column to common scale
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(df_x)
x=pd.DataFrame(x,columns=df_x.columns)

In [30]:
#to find random stat which gives maximum r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
def maxr2_score(regr,df_x,y):
    max_r_score=0
    for r_state in range(42,100):
        x_train, x_test, y_train, y_test = train_test_split(df_x, y,random_state = r_state,test_size=0.20)
        regr.fit(x_train,y_train)
        y_pred = regr.predict(x_test)
        r2_scr=r2_score(y_test,y_pred)
        print("r2 score corresponding to ",r_state," is ",r2_scr)
        if r2_scr>max_r_score:
            max_r_score=r2_scr
            final_r_state=r_state
    print("max r2 score corresponding to ",final_r_state," is ",max_r_score)
    return final_r_state

In [31]:
#lets make a function which evaluates the model using cross_val_score
from sklearn.model_selection import cross_val_score
def model_evaluation(model,x,y):
    c_scores=cross_val_score(model,x,y,cv=5,scoring="r2")
    print("Mean r2 score for regressor: ",c_scores.mean())
    print("standard deviation in r2 score for regressor: ",c_scores.std())
    print(c_scores)

In [32]:
#Lets use pca to reduce the dimensionality
from sklearn.decomposition import PCA
pca = PCA(n_components=23)
x_pca=pca.fit_transform(x)
print("vraiance :{}".format(np.sum(pca.explained_variance_ratio_)))

vraiance :0.965024050645852

In [33]:
#Lets use decision tree
from sklearn.tree import DecisionTreeRegressor
import numpy as np
dtr=DecisionTreeRegressor()
r_state=maxr2_score(dtr,x_pca,y)

r2 score corresponding to  42  is  0.15343853042028543
r2 score corresponding to  43  is  0.17888862300289832
r2 score corresponding to  44  is  0.14456489493992364
r2 score corresponding to  45  is  0.131349630410189
r2 score corresponding to  46  is  0.04300617960734432
r2 score corresponding to  47  is  0.14549484015413694
r2 score corresponding to  48  is  0.1398688204837063
r2 score corresponding to  49  is  0.22055708648794237
r2 score corresponding to  50  is  0.1508979556519563
r2 score corresponding to  51  is  0.19123576209431992
r2 score corresponding to  52  is  0.12505247425809218
r2 score corresponding to  53  is  0.09218626417391074
r2 score corresponding to  54  is  0.22329931755114718
r2 score corresponding to  55  is  0.14574099673064134
r2 score corresponding to  56  is  0.14552155309557313
r2 score corresponding to  57  is  0.1887762217533281
r2 score corresponding to  58  is  0.128017531611194
r2 score corresponding to  59  is  0.15648525539997504
r2 score corresponding to  60  is  0.16776871701165985
r2 score corresponding to  61  is  0.14151644060918933
r2 score corresponding to  62  is  0.15145416502880293
r2 score corresponding to  63  is  0.16230338263033517
r2 score corresponding to  64  is  0.15325945330103297
r2 score corresponding to  65  is  0.17044422424252736
r2 score corresponding to  66  is  0.12802815667042622
r2 score corresponding to  67  is  0.1724949807699686
r2 score corresponding to  68  is  0.10056808430525543
r2 score corresponding to  69  is  0.1656108322309785
r2 score corresponding to  70  is  0.17545510112280038
r2 score corresponding to  71  is  0.14586582769236278
r2 score corresponding to  72  is  0.16968584739007608
r2 score corresponding to  73  is  0.07903982345934968
r2 score corresponding to  74  is  0.17417119918578539
r2 score corresponding to  75  is  0.15362862025186697
r2 score corresponding to  76  is  0.23155659843572574
r2 score corresponding to  77  is  0.24922277820215777
r2 score corresponding to  78  is  0.09018814478295123
r2 score corresponding to  79  is  0.17144813146392823
r2 score corresponding to  80  is  0.1686053400750689
r2 score corresponding to  81  is  0.15548432605916296
r2 score corresponding to  82  is  0.2027817556133542
r2 score corresponding to  83  is  0.14763400791399772
r2 score corresponding to  84  is  0.25867205029112106
r2 score corresponding to  85  is  0.20116235178786523
r2 score corresponding to  86  is  0.08912010684799188
r2 score corresponding to  87  is  0.07930554173526572
r2 score corresponding to  88  is  0.11212470279282727
r2 score corresponding to  89  is  0.1967322215291799
r2 score corresponding to  90  is  0.12531100602261824
r2 score corresponding to  91  is  0.09411365083511947
r2 score corresponding to  92  is  0.2528956137212405
r2 score corresponding to  93  is  0.09926707657822487
r2 score corresponding to  94  is  0.19055543520675822
r2 score corresponding to  95  is  0.16978460780204063
r2 score corresponding to  96  is  0.15161651769132412
r2 score corresponding to  97  is  0.14190135802210535
r2 score corresponding to  98  is  0.09741016142304082
r2 score corresponding to  99  is  0.20800439913613566
max r2 score corresponding to  84  is  0.25867205029112106

In [34]:
#lets use random forest regressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings("ignore")
rfr=RandomForestRegressor()
parameters = {"n_estimators":[10,100,500]}
clf = GridSearchCV(rfr, parameters, cv=5,scoring="r2")
clf.fit(x_pca,y)
clf.best_params_

{'n_estimators': 500}

In [35]:
rfr=RandomForestRegressor(n_estimators=500)
r_state=maxr2_score(rfr,x_pca,y)

r2 score corresponding to  42  is  0.5493529636994743
r2 score corresponding to  43  is  0.5574257909519922
r2 score corresponding to  44  is  0.5491674446754101
r2 score corresponding to  45  is  0.5497313397830915
r2 score corresponding to  46  is  0.489087000944198
r2 score corresponding to  47  is  0.5371812539961656
r2 score corresponding to  48  is  0.55578112324547
r2 score corresponding to  49  is  0.5541531084861113
r2 score corresponding to  50  is  0.5418111985509836
r2 score corresponding to  51  is  0.5367378857778923
r2 score corresponding to  52  is  0.5269860960964685
r2 score corresponding to  53  is  0.5169579519528662
r2 score corresponding to  54  is  0.5627795973884968
r2 score corresponding to  55  is  0.5585015721266746
r2 score corresponding to  56  is  0.5283256700200738
r2 score corresponding to  57  is  0.5485934854672176
r2 score corresponding to  58  is  0.543263805811407
r2 score corresponding to  59  is  0.5373877869880115
r2 score corresponding to  60  is  0.5635549163761688
r2 score corresponding to  61  is  0.5349421979215623
r2 score corresponding to  62  is  0.5557431637456822
r2 score corresponding to  63  is  0.5553102829967509
r2 score corresponding to  64  is  0.5376554109041517
r2 score corresponding to  65  is  0.5702514311523262
r2 score corresponding to  66  is  0.5401746536724721
r2 score corresponding to  67  is  0.549716025714917
r2 score corresponding to  68  is  0.5268619747015526
r2 score corresponding to  69  is  0.561248889291653
r2 score corresponding to  70  is  0.5584693316325249
r2 score corresponding to  71  is  0.5537084430483128
r2 score corresponding to  72  is  0.5732627878664204
r2 score corresponding to  73  is  0.5197947458404617
r2 score corresponding to  74  is  0.5296654631041255
r2 score corresponding to  75  is  0.5596582947543286
r2 score corresponding to  76  is  0.5615163824399219
r2 score corresponding to  77  is  0.5548898822987083
r2 score corresponding to  78  is  0.5206036632340438
r2 score corresponding to  79  is  0.5514316797759666
r2 score corresponding to  80  is  0.5660899403058833
r2 score corresponding to  81  is  0.5484298671857145
r2 score corresponding to  82  is  0.5593100824120449
r2 score corresponding to  83  is  0.5209673299946378
r2 score corresponding to  84  is  0.5782529935493441
r2 score corresponding to  85  is  0.5466281950754781
r2 score corresponding to  86  is  0.5477310684644945
r2 score corresponding to  87  is  0.5108659488607481
r2 score corresponding to  88  is  0.5305821949134977
r2 score corresponding to  89  is  0.5790747356128856
r2 score corresponding to  90  is  0.5342249070542769
r2 score corresponding to  91  is  0.5092380985051592
r2 score corresponding to  92  is  0.5633200320629429
r2 score corresponding to  93  is  0.5398379921321366
r2 score corresponding to  94  is  0.5466539574507652
r2 score corresponding to  95  is  0.5504918953618783
r2 score corresponding to  96  is  0.5583960581701259
r2 score corresponding to  97  is  0.5452403375321881
r2 score corresponding to  98  is  0.5410646413459113
r2 score corresponding to  99  is  0.5676432370507438
max r2 score corresponding to  89  is  0.5790747356128856

In [36]:
#lets check KNN 
from sklearn.neighbors import KNeighborsRegressor
knr=KNeighborsRegressor()
parameters = {"n_neighbors":range(2,30)}
clf = GridSearchCV(knr, parameters, cv=5,scoring="r2")
clf.fit(x_pca, y)
clf.best_params_

{'n_neighbors': 8}

In [37]:
knr=KNeighborsRegressor(n_neighbors=8)
r_state=maxr2_score(knr,x_pca,y)

r2 score corresponding to  42  is  0.489454225589364
r2 score corresponding to  43  is  0.5166053142325513
r2 score corresponding to  44  is  0.5022027346818867
r2 score corresponding to  45  is  0.48998589520622315
r2 score corresponding to  46  is  0.45388215355079
r2 score corresponding to  47  is  0.46146166825750823
r2 score corresponding to  48  is  0.4942677625349723
r2 score corresponding to  49  is  0.5033682144422407
r2 score corresponding to  50  is  0.49296781054187877
r2 score corresponding to  51  is  0.48070638415615075
r2 score corresponding to  52  is  0.48728988835229925
r2 score corresponding to  53  is  0.4672767238816562
r2 score corresponding to  54  is  0.5040555665960216
r2 score corresponding to  55  is  0.5009489590222451
r2 score corresponding to  56  is  0.47071619134858766
r2 score corresponding to  57  is  0.46831631813666363
r2 score corresponding to  58  is  0.4807055859643793
r2 score corresponding to  59  is  0.4819017073625175
r2 score corresponding to  60  is  0.5075197670279139
r2 score corresponding to  61  is  0.4816446300225323
r2 score corresponding to  62  is  0.5055260108680254
r2 score corresponding to  63  is  0.5041613606584904
r2 score corresponding to  64  is  0.48410443844176165
r2 score corresponding to  65  is  0.5050104143154014
r2 score corresponding to  66  is  0.48045270957770114
r2 score corresponding to  67  is  0.5062172570534212
r2 score corresponding to  68  is  0.4723501844021416
r2 score corresponding to  69  is  0.493502013369126
r2 score corresponding to  70  is  0.5162610012768283
r2 score corresponding to  71  is  0.5057391198985552
r2 score corresponding to  72  is  0.5215457186188186
r2 score corresponding to  73  is  0.4573804406369345
r2 score corresponding to  74  is  0.4810075233114852
r2 score corresponding to  75  is  0.5009854737292838
r2 score corresponding to  76  is  0.49098836963995707
r2 score corresponding to  77  is  0.4868381163145359
r2 score corresponding to  78  is  0.45195092251167
r2 score corresponding to  79  is  0.5070702752096545
r2 score corresponding to  80  is  0.4803517328435628
r2 score corresponding to  81  is  0.4897928287069099
r2 score corresponding to  82  is  0.4901485655548701
r2 score corresponding to  83  is  0.4865075413321237
r2 score corresponding to  84  is  0.5077782660520334
r2 score corresponding to  85  is  0.49927766565389053
r2 score corresponding to  86  is  0.47822415782905137
r2 score corresponding to  87  is  0.4653017998295367
r2 score corresponding to  88  is  0.4903158831591288
r2 score corresponding to  89  is  0.49985409131616976
r2 score corresponding to  90  is  0.49152451057191726
r2 score corresponding to  91  is  0.4803844490153716
r2 score corresponding to  92  is  0.49529939073328844
r2 score corresponding to  93  is  0.46879033285588445
r2 score corresponding to  94  is  0.4790360092533077
r2 score corresponding to  95  is  0.4817560461384257
r2 score corresponding to  96  is  0.4920356005280845
r2 score corresponding to  97  is  0.4824722963661293
r2 score corresponding to  98  is  0.5006581714788294
r2 score corresponding to  99  is  0.4869747345189166
max r2 score corresponding to  72  is  0.5215457186188186

In [38]:
#Lets use SVM regressor
from sklearn.svm import SVR
import warnings
warnings.filterwarnings("ignore")
svr=SVR()
parameters={"kernel":["linear", "poly", "rbf"],"C":[0.001,0.01,0.1,1,10]}
clf = GridSearchCV(svr, parameters, cv=5,scoring="r2")
clf.fit(x_pca,y)
clf.best_params_

{'C': 10, 'kernel': 'linear'}

In [39]:
svr=SVR(kernel="linear",C=10)
r_state=maxr2_score(svr,x_pca,y)

r2 score corresponding to  42  is  0.5544076555016898
r2 score corresponding to  43  is  0.540233954680629
r2 score corresponding to  44  is  0.5445061756094156
r2 score corresponding to  45  is  0.536836789617963
r2 score corresponding to  46  is  0.5306908933061087
r2 score corresponding to  47  is  0.5294634875349228
r2 score corresponding to  48  is  0.5234302627650238
r2 score corresponding to  49  is  0.5366041006150913
r2 score corresponding to  50  is  0.535593839548482
r2 score corresponding to  51  is  0.5278766018208165
r2 score corresponding to  52  is  0.5450694475042664
r2 score corresponding to  53  is  0.5302519888063111
r2 score corresponding to  54  is  0.532839920227009
r2 score corresponding to  55  is  0.529142377855031
r2 score corresponding to  56  is  0.5107064689052487
r2 score corresponding to  57  is  0.5173718495887523
r2 score corresponding to  58  is  0.5413210466400824
r2 score corresponding to  59  is  0.5332999529454211
r2 score corresponding to  60  is  0.5452919718424221
r2 score corresponding to  61  is  0.5268905547733883
r2 score corresponding to  62  is  0.5542034518804706
r2 score corresponding to  63  is  0.5494449452943206
r2 score corresponding to  64  is  0.5170167804180285
r2 score corresponding to  65  is  0.5386868620502882
r2 score corresponding to  66  is  0.5299707064579587
r2 score corresponding to  67  is  0.5328510734386243
r2 score corresponding to  68  is  0.5368021446365581
r2 score corresponding to  69  is  0.5377987844533682
r2 score corresponding to  70  is  0.5403262015175707
r2 score corresponding to  71  is  0.5445440133894439
r2 score corresponding to  72  is  0.5526894558676856
r2 score corresponding to  73  is  0.530547459838703
r2 score corresponding to  74  is  0.5267590409989898
r2 score corresponding to  75  is  0.5411233936570732
r2 score corresponding to  76  is  0.5564367948823705
r2 score corresponding to  77  is  0.5399414681532018
r2 score corresponding to  78  is  0.522322225294449
r2 score corresponding to  79  is  0.5523743995694568
r2 score corresponding to  80  is  0.5543351828333996
r2 score corresponding to  81  is  0.5326910492936159
r2 score corresponding to  82  is  0.5366922449037976
r2 score corresponding to  83  is  0.5324105070198508
r2 score corresponding to  84  is  0.5377546381880278
r2 score corresponding to  85  is  0.5285724306489638
r2 score corresponding to  86  is  0.5376321021396119
r2 score corresponding to  87  is  0.5309794410562513
r2 score corresponding to  88  is  0.5415619198023771
r2 score corresponding to  89  is  0.5508611373105374
r2 score corresponding to  90  is  0.516999446168577
r2 score corresponding to  91  is  0.5229862254249971
r2 score corresponding to  92  is  0.5453197461674447
r2 score corresponding to  93  is  0.5299804681722129
r2 score corresponding to  94  is  0.5256109017108564
r2 score corresponding to  95  is  0.5363859455176507
r2 score corresponding to  96  is  0.5338518595277304
r2 score corresponding to  97  is  0.5449165299026748
r2 score corresponding to  98  is  0.5251765440195422
r2 score corresponding to  99  is  0.5443561469492398
max r2 score corresponding to  76  is  0.5564367948823705

In [40]:
print("DECISION TREE REGRESSOR\n\n")
model_evaluation(dtr,x_pca,y)

DECISION TREE REGRESSOR


Mean r2 score for regressor:  0.1328239379946756
standard deviation in r2 score for regressor:  0.05357099841491412
[0.22060775 0.06473851 0.10259209 0.11530697 0.16087438]

In [41]:
print("RANDOM FOREST REGRESSOR\n\n")
model_evaluation(rfr,x_pca,y)

RANDOM FOREST REGRESSOR


Mean r2 score for regressor:  0.5404344004565351
standard deviation in r2 score for regressor:  0.026486200073803663
[0.57114708 0.50595612 0.51165246 0.55374996 0.55966638]

In [42]:
print("KNN REGRESSOR\n\n")
model_evaluation(knr,x_pca,y)

KNN REGRESSOR


Mean r2 score for regressor:  0.4858862863591325
standard deviation in r2 score for regressor:  0.019126291130727724
[0.49578301 0.45699143 0.48142584 0.4802782  0.51495295]

In [43]:
print("SVM REGRESSOR\n\n")
model_evaluation(svr,x_pca,y)

SVM REGRESSOR


Mean r2 score for regressor:  0.5345553458549948
standard deviation in r2 score for regressor:  0.004607903843683207
[0.54214011 0.53039107 0.52922328 0.53623084 0.53479143]

In [44]:
#Based on above r2 scores arandom forest and SVM are performing better than other two
#lets make model using SVM
x_train, x_test, y_train, y_test = train_test_split(x_pca, y,random_state = 76,test_size=0.20)
svr.fit(x_train,y_train)
y_pred = svr.predict(x_test)

In [45]:
#Lets find the rmse and r2_score using sklearn.metrics for SVM model
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
print("RMSE is: ",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2_score is: ",r2_score(y_test,y_pred))

RMSE is:  1126.2102852276619
r2_score is:  0.5564367948823705

In [46]:
#Lets use random forest also
x_train, x_test, y_train, y_test = train_test_split(x_pca, y,random_state = 89,test_size=0.20)
rfr.fit(x_train,y_train)
y_pred = rfr.predict(x_test)

In [47]:
#Lets find the rmse and r2_score using sklearn.metrics for random forest model
print("RMSE is: ",np.sqrt(mean_squared_error(y_test,y_pred)))
print("r2_score is: ",r2_score(y_test,y_pred))

RMSE is:  1091.877838746529
r2_score is:  0.5802676964251605

In [48]:
#lets transform df_test accoring to pca
x_pca_test=pca.transform(df_test)

In [49]:
sales_pred=rfr.predict(x_pca_test)

In [50]:
#lets make the dataframe for price_pred
sales_pred=pd.DataFrame(sales_pred,columns=["Item_Outlet_sales"])

In [51]:
#Lets save the submission to csv
sales_pred.to_csv("Item_outlet_sales_Predictions.csv",index=False)